body {
  background-color: rgb(28 65 151) !important;
}

.imageLanding {
  margin: 0;
  padding: 0;
}

.card-img-overlay {
  top: auto;
  left: auto;
}

.flag {
  height: 150px;
  opacity: 0.6;
}

.detailHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(90 144 201);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 10px;
}

.card {
  border: 0;
}

.card-title {
  font-size: 24px;
}

.DetailCard {
  background-color: rgb(28 65 151);
  display: flex;
  justify-content: space-between;
}

.DetailCardSecound {
  background-color: rgb(90 144 201);
  display: flex;
  justify-content: space-between;
}

.DetailCard p {
  color: white;
  font-size: 18px;
}
